<footer class="footer">
    <div class="row-fluid">
        <div class="span2">
            <h5>Tài khoản</h5>

        </div>
        <div class="span2">
            <h5>Thông tin</h5>

        </div>
        <div class="span2">
            <h5>Sản phẩm</h5>

        </div>
        <div class="span6">
            <h5>Hàng Việt Nam chất lượng cao</h5>
            Tất cả sản phẩm ở web đều là hàng Việt Nam chất lượng cao đã có giấy chứng nhận.
        </div>
    </div>
</footer>
