  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class=""><a href="/">Trang chủ	</a></li>
            <li class=""><a href="/products">Sản phẩm</a></li>
            <li class=""><a href="/advanced">Tìm nâng cao</a></li>

          </ul>
          <form action="#" class="navbar-search pull-left">
            <input type="text" placeholder="Tìm kiếm" class="search-query span2">
            <button onclick="successSearch()">Tìm	</button>
          </form>

        </div>
      </div>
    </div>
  </div>
