  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class=""><a href="/">Trang chủ	</a></li>
            <li class=""><a href="/products">Sản phẩm</a></li>

          </ul>

          <script>
            function QuerySearch()
            {
              let Content=document.getElementById("SearchContent").value;
              let query="/products?search="+Content;
              location.href=query;
            }
          </script>

          <%if(typeof search==="undefined"){
            search="";
          }%>

          <form action="javascript:QuerySearch()" class="navbar-search pull-left">
            <input id="SearchContent" type="text" placeholder="Tìm kiếm sản phẩm" class="search-query span2" value="<%=search%>"/>
            <button type="button" class="btn-warning" onclick="QuerySearch()"><b>Tìm Kiếm</b></button>
          </form>

        </div>
      </div>
    </div>
  </div>
