<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="topNav">
        <div class="container">
            <div class="alignR">
                <div class="pull-left socialNw">
                    <a href="#"><span class="icon-twitter"></span></a>
                    <a href="#"><span class="icon-facebook"></span></a>
                    <a href="#"><span class="icon-youtube"></span></a>
                    <a href="#"><span class="icon-tumblr"></span></a>
                </div>
                <a class="active" href="/"> <span class="icon-home"></span> Trang chủ</a>
                <a href="/account"><span class="icon-user"></span> Tài khoản</a>
                <a href="/register"><span class="icon-edit"></span> Đăng ký </a>
                <a href="/login"><span class="icon-lock"></span> Đăng nhập </a>
                <a href="/cart"><span class="icon-shopping-cart"></span> 2 <span class="badge badge-warning"> $448.42</span></a>
            </div>
        </div>
    </div>
</div>
