<!DOCTYPE html>
<html lang="en">
<head>
    <% include elements/tag_head.ejs%>
</head>
<body <%if (!userdata) {%>onload="loadItem()"<%}%>>
<!--
	Upper Header Section
-->
<% include ./elements/upper_header.ejs%>
<!--
Lower Header Section
-->
<div class="container">
    <% include elements/lower_header.ejs%>

    <!--
    Navigation Bar Section
    -->
    <% include elements/navbar.ejs%>
    <!--
    Body Section
    -->
    <div class="row">
        <% include elements/sidebar.ejs%>
        <div class="span9">
            <ul class="breadcrumb">
                <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
                <li class="active">Đổi mật khẩu</li>
            </ul>
            <div class="well well-small">
                <h3>Đổi mật khẩu</h3>
                <%include partials/messages.ejs%>



                <form class="form-inline" action="/users/change_password" method="post">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Mật khẩu cũ <sup>*</sup></label>
                        <div class="controls">
                            <input type="password" placeholder=""name="password1"value="<%=typeof password1 !='undefined' ? password1 :''%>">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Mật khẩu mới <sup>*</sup></label>
                        <div class="controls">
                            <input type="password" placeholder=""name="password2"value="<%=typeof password2 !='undefined' ? password2 :''%>">
                        </div>
                    </div>

                    <button type="submit"class="shopBtn block">Gửi</button>
                </form>
            </div>
        </div>
        <!--
        Clients
        -->
        <% include elements/client.ejs%>
        <!--
        Footer
        -->
        <% include elements/footer.ejs%>

    </div><!-- /container -->

    <% include elements/copyright.ejs%>
    <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
    <!-- Placed at the end of the document so the pages load faster -->
    <% include elements/script_end.ejs%>
</div>
</body>
</html>
