<!DOCTYPE html>
<html lang="en">
<head>
    <% include elements/tag_head.ejs%>
</head>
<body>
<!--
	Upper Header Section
-->
<% include elements/upper_header.ejs%>
<!--
Lower Header Section
-->
<div class="container">
    <% include elements/lower_header.ejs%>

    <!--
    Navigation Bar Section
    -->
    <% include elements/navbar.ejs%>
    <!--
    Body Section
    -->
    <div class="row">
        <% include elements/sidebar.ejs%>
        <div class="span9">
            <ul class="breadcrumb">
                <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
                <li class="active">Quên mật khẩu</li>
            </ul>
            <div class="well well-small">
                <h3>Quên mật khẩu</h3>
                <hr class="soft"/>

                Nhập tài khoản mail. Chúng tôi sẽ gửi tới bạn mật khẩu mới qua mail.<br/><br/><br/>


                <form class="form-inline">
                    <label class="control-label" for="inputEmail">E-mail</label>
                    <input type="text" class="span4" placeholder="Email">
                    <button type="submit"onclick="successNewPassword()" class="shopBtn block">Gửi</button>
                </form>
            </div>
        </div>
        <!--
        Clients
        -->
        <% include elements/client.ejs%>
        <!--
        Footer
        -->
        <% include elements/footer.ejs%>

    </div><!-- /container -->

    <% include elements/copyright.ejs%>
    <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
    <!-- Placed at the end of the document so the pages load faster -->
    <% include elements/script_end.ejs%>
</div>
</body>
</html>
