<!DOCTYPE html>
<html lang="en">
<head>
    <% include elements/tag_head.ejs%>
</head>
<body>
<!--
	Upper Header Section
-->
<% include ./elements/upper_header.ejs%>
<!--
Lower Header Section
-->
<div class="container">
    <% include elements/lower_header.ejs%>

    <!--
    Navigation Bar Section
    -->
    <% include elements/navbar.ejs%>
    <!--
    Body Section
    -->
    <div class="row">
        <% include elements/sidebar.ejs%>
        <div class="span9">
            <ul class="breadcrumb">
                <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
                <li class="active">Tài khoản</li>
            </ul>
            <hr class="soft"/>

            <div class="well">
                <%include partials/messages.ejs%>
                <form class="form-horizontal" id="form-change-info" action="/users/account" method="post" >
                    <h3>Thông tin tài khoản</h3>
                    <div class="control-group">
                        <label class="control-label">Tên<sup>*</sup></label>
                        <div class="controls">
                            <input id="inputName" type="text" name="name" value="<%=userdata.name%>" readonly>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Địa chỉ<sup>*</sup></label>
                        <div class="controls">
                            <input id="inputAddress" type="text" name="address" value="<%=userdata.address%>" readonly>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Số điện thoại<sup>*</sup></label>
                        <div class="controls">
                            <input id="inputPhone" type="text" name="phone" value="<%=userdata.phone%>" readonly>
                        </div>
                    </div>


                </form>
                <div id="control-btn" style="text-align: center">

                </div>
                <div style="text-align: center">
                    <button onclick="changeIn4()" class="exclusive shopBtn" id="changeIn4">Chỉnh sửa thông tin</button>
                </div>
            </div>


        </div>
        <!--
        Clients
        -->
        <% include elements/client.ejs%>
        <!--
        Footer
        -->
        <% include elements/footer.ejs%>

    </div><!-- /container -->

    <% include elements/copyright.ejs%>
    <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
    <!-- Placed at the end of the document so the pages load faster -->
    <% include elements/script_end.ejs%>
</div>
</body>
</html>
