<!DOCTYPE html>
<html lang="en">
<head>
    <% include elements/tag_head.ejs%>

</head>
<body <%if (!userdata) {%>onload="loadItem()"<%}%>>
<!--
	Upper Header Section
-->
<% include ./elements/upper_header.ejs%>
<!--
Lower Header Section
-->
<div class="container">
    <% include elements/lower_header.ejs%>

    <!--
    Navigation Bar Section
    -->
    <% include elements/navbar.ejs%>
    <!--
    Body Section
    -->
    <div class="row">
        <% include elements/sidebar.ejs%>
        <div class="span9">
            <ul class="breadcrumb">
                <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
                <li class="active">Giao hàng</li>
            </ul>
            <h3>Chi tiết giao hàng</h3>
            <hr class="soft"/>

            <div class="well">
                <form class="form-horizontal" id="addressForm" name="addressForm" action="/status" method="post">
                    <%if(userdata){%>

                    <h3>Thông tin chi tiết giao hàng</h3>
                        <div class="control-group">
                            <label class="control-label">Tỉnh/Thành Phố<sup>*</sup></label>
                            <div class="controls">
                                <input class="input-address" id="city" name="city" type="text" placeholder="Nhập tỉnh/thành phố"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Quận/huyện<sup>*</sup></label>
                            <div class="controls">
                                <input class="input-address" id="district" name="district" type="text" placeholder="Nhập quận/huyện"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Phường/Xã<sup>*</sup></label>
                            <div class="controls">
                                <input class="input-address" id="ward" name="ward" type="text" placeholder="Nhập phường/xã"/>
                            </div>
                        </div>
                    <div class="control-group">
                        <label class="control-label">Địa chỉ<sup>*</sup></label>
                        <div class="controls">
                            <input class="input-address" id="address" name="address" type="text" placeholder="Nhập địa chỉ"/>
                        </div>
                    </div>
                        <div class="control-group">
                            <label class="control-label">Số điện thoại<sup>*</sup></label>
                            <div class="controls">
                                <input class="input-address" id="phoneNumber" name="address5" type="text" placeholder="Nhập số điện thoại"/>
                            </div>
                        </div>
                        <script>
                            function Submit() {
                                let city=document.getElementById('city');
                                let district=document.getElementById('district');
                                let ward=document.getElementById('ward');
                                let address=document.getElementById('address');
                                let phoneNumber=document.getElementById('phoneNumber');
                                if (city.value==='')
                                {
                                    city.focus();
                                    return;
                                }
                                if (district.value==='')
                                {
                                    district.focus();
                                    return;
                                }
                                if (ward.value==='')
                                {
                                    ward.focus();
                                    return;
                                }
                                if (address.value==='')
                                {
                                    address.focus();
                                    return;
                                }
                                if (phoneNumber.value==='')
                                {
                                    phoneNumber.focus();
                                    return;
                                }
                                document.getElementById('addressForm').submit();
                                alert("Mua hàng thành công!");
                            }
                        </script>
                </form>
                    <button onclick="Submit()" name="submitAccount" class="shopBtn btn-address"> Đồng ý </button>


                 </div>
                    <a href="/cart" class="shopBtn btn-large"><span class="icon-arrow-left"></span> Giỏ hàng</a>
                    <%}%>

                        <%if(!userdata){%>
                            <h3 style="color: red">Hãy đăng nhập để thực hiện đặt hàng</h3>

                        <%}%>


                </div>




        </div>
        <!--
        Clients
        -->
        <% include elements/client.ejs%>
        <!--
        Footer
        -->
        <% include elements/footer.ejs%>

    </div><!-- /container -->

    <% include elements/copyright.ejs%>
    <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
    <!-- Placed at the end of the document so the pages load faster -->
    <% include elements/script_end.ejs%>
</div>
</body>
</html>
