<!DOCTYPE html>
<html lang="en">
<head>
    <% include elements/tag_head.ejs%>
</head>
<body>
<!--
	Upper Header Section
-->
<% include elements/upper_header.ejs%>

<!--
Lower Header Section
-->
<div class="container">

    <!--
    Navigation Bar Section
    -->
    <% include elements/navbar.ejs%>
    <!--
    Body Section
    -->
    <div class="row">
        <div class="span12">

            <div class="well well-small">
                <h3>Quên mật khẩu</h3>
                <hr class="soft"/>

                Nhập tài khoản mail. Chúng tôi sẽ gửi tới bạn mật khẩu mới qua mail.<br/><br/><br/>


                <form class="form-inline" action="/forget"method="post">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Tài khoản <sup>*</sup></label>
                        <div class="controls">
                            <input type="text" placeholder=""name="username"value="<%=typeof username !='undefined' ? username :''%>">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Email <sup>*</sup></label>
                        <div class="controls">
                            <input type="text" placeholder=""name="email"value="<%=typeof email !='undefined' ? email :''%>">
                        </div>
                    </div>

                    <button type="submit"class="shopBtn block">Gửi</button>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>
