<!DOCTYPE html>
<html lang="en">
<head>
  <% include elements/tag_head.ejs%>
</head>
<body>
<!--
	Upper Header Section
-->
<% include elements/upper_header.ejs%>

<!--
Lower Header Section
-->
<div class="container">
  <% include elements/lower_header.ejs%>

  <!--
  Navigation Bar Section
  -->
  <!--
  Body Section
  -->
  <div class="row">
    <% include elements/sidebar.ejs%>
    <div class="span9">
      <div class="well">
      </div>


    </div>

    <!--


 </div> //container

  <% include elements/copyright.ejs%>
  <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
  <-- Placed at the end of the document so the pages load faster -->
  <% include elements/script_end.ejs%>
</div>
</body>
</html>
