<!DOCTYPE html>
<html lang="en">
<head>
    <% include elements/tag_head.ejs%>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="well well-small">
            <form action="/users/login" method="post">
                <h3 style="font-weight: bold; font-size: 35px; text-align: center; color: red">ĐĂNG NHẬP</h3>
                <% include ./partials/messages.ejs%>

                <div class="control-group">
                    <label class="control-label" for="inputEmail">Tài khoản</label>
                    <div class="controls">
                        <input class="span3" style="height: 30px;" name="username"type="text" placeholder="Tài khoản">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Mật khẩu</label>
                    <div class="controls">
                        <input type="password" style="height: 30px;" name="password"class="span3" placeholder="Mật khẩu">
                    </div>
                </div>


                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="exclusive shopBtn">Đăng nhập</button> <a href="/users/forget">Quên mật khẩu</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
