<!DOCTYPE html>
<html lang="en">
<head>
    <% include elements/tag_head.ejs%>
</head>
<body>
<!--
	Upper Header Section
-->
<% include elements/upper_header.ejs%>
<!--
Lower Header Section
-->
<div class="container">
    <% include elements/lower_header.ejs%>

    <!--
    Navigation Bar Section
    -->
    <%include elements/navbar.ejs%>
    <!--
    Body Section
    -->

    <div class="row">
        <div id="sidebar" class="span3">
            <div class="well well-small">
                <ul class="nav nav-list">
                    <li><a href="/order"><span class="icon-chevron-right active"></span>Chưa xác nhận</a></li>
                    <li><a href="/order?confirmOrder=1"><span class="icon-chevron-right"></span>Đang giao</a></li>
                    <li><a href="/order?confirmOrder=2"><span class="icon-chevron-right"></span>Đã giao</a></li>
                    <li style="border:0"> &nbsp;</li>
                </ul>
            </div>
        </div>
        <div class="span9">
            <div class="well well-small">
                <hr class="soften"/>
                <%include partials/messages.ejs%>
                <table class="table table-bordered table-condensed">

                    <tbody>
                    <tr>
                        <th colspan="4" class="header-table">
                            DANH SÁCH ĐƠN ĐẶT HÀNG CẦN XÁC NHẬN
                        </th>
                    </tr>

                    <tr>
                        <th class="nameProduct"><b>Tên sản phẩm</b></th>
                        <th class="quantity"><b>Số lượng</b></th>
                        <th class="addressDelivery"><b>Địa chỉ giao hàng</b></th>
                        <th class="detail">Chi tiết</th>

                    </tr>
                    <%orders.forEach(function(order){%>
                        <tr>
                            <td class="nameProduct"><%= order.nameProduct %></td>
                            <td class="quantity"><%= order.quantity%></td>
                            <td class="addressDelivery"><%= order.addressDelivery %></td>
                            <td class="detail"><a href="<%= order.urlDetail%>%>"><i>chi tiết</i></a></td>

                        </tr>
                    <%});%>
                    <%if(orders.length === 0){%>
                        <tr>
                            <th colspan="4" class="header-table" style="color: red">
                                Không có đơn đặt hàng nào cần xác nhận
                            </th>
                        </tr>
                    <%};%>

                    </tbody>
                </table>
            </div>

        </div>

        <!--


 </div> //container

  <% include elements/copyright.ejs%>
  <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
  <-- Placed at the end of the document so the pages load faster -->
        <% include elements/script_end.ejs%>
    </div>

</div>
</body>
</html>
