<!DOCTYPE html>
<html lang="en">
<head>
    <% include elements/tag_head.ejs%>

</head>
<body>
<!--
	Upper Header Section
-->
<% include elements/upper_header.ejs%>
<!--
Lower Header Section
-->
<div class="container">
    <% include elements/lower_header.ejs%>

    <!--
    Navigation Bar Section
    -->
    <% include elements/navbar.ejs%>
    <!--
    Body Section
    -->
    <div class="row">
        <div class="span12">

            <div class="well well-small">
                <h1>Sản phẩm gian hàng<small class="pull-right"> 2 sản phẩm </small></h1>
                <hr class="soften"/>

                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Mô tả</th>
                        <th>Tình trạng</th>
                        <th>Đơn giá</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><img width="100" src="assets/img/e.jpg" alt=""></td>
                        <td>Tên và mô tả<br>Carate : 22<br>Mẫu : n/a</td>
                        <td> Mới </td>
                        <td>$50.00</td>

                    </tr>
                    <tr>
                        <td><img width="100" src="assets/img/f.jpg" alt=""></td>
                        <td>Tên và mô tả<br>Carate : 24<br>Mẫu : n/a</td>
                        <td> Mới </td>
                        <td>$348.42</td>

                    </tr>


                    </tbody>
                </table><br/>




            </div>
        </div>

        <!--


    </div><-- /container -->

    <% include elements/copyright.ejs%>
    <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
    <!-- Placed at the end of the document so the pages load faster -->
    <% include elements/script_end.ejs%>
</div>
</body>
</html>
