<!DOCTYPE html>
<html lang="en">
<head>
    <% include elements/tag_head.ejs%>

</head>
<body>
<!--
	Upper Header Section
-->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="topNav">
        <div class="container">
            <div class="alignR">
                <div class="pull-left socialNw">
                    <a href="#"><span class="icon-twitter"></span></a>
                    <a href="#"><span class="icon-facebook"></span></a>
                    <a href="#"><span class="icon-youtube"></span></a>
                    <a href="#"><span class="icon-tumblr"></span></a>
                    <%if(userdata){%>
                    <b> Chào <%=userdata.username%></b>
                    <%}%>
                </div>
                <a class="active" href="/"> <span class="icon-home"></span> Trang chủ</a>
                <a href="/account"><span class="icon-user"></span> Tài khoản</a>
                <a href="/register"><span class="icon-lock"></span> Đăng ký </a>
                <a href="/logout"><span class="icon-lock"></span> Đăng xuất </a>



            </div>
        </div>
    </div>
</div>
<!--
Lower Header Section
-->
<div class="container">
    <% include elements/lower_header.ejs%>

    <!--
    Navigation Bar Section
    -->
    <% include elements/navbar.ejs%>
    <!--
    Body Section
    -->
    <div class="row">
        <div class="span12">

            <div class="well well-small">
                <h1>Cửa hàng nhẫn</h1>
                <hr class="soften"/>

                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Tên</th>

                        <th>Mô tả</th>
                        <th>Tình trạng</th>
                        <th>Đơn giá</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><img width="80" src="assets/img/e.jpg" alt=""></td>
                        <td>Nhẫn kim cương</td>
                        <td>Đẹp, chất lượng cao</td>
                        <td> Mới </td>
                        <td> 10 000 $</td>

                    </tr>
                    <tr>
                        <td><img   width="80" src="assets/img/g.jpg" alt=""></td>
                        <td>Nhẫn kim cương 2 </td>
                        <td>Kiểu dáng mới lạ</td>
                        <td> Mới </td>
                        <td>8000 $ </td>

                    </tr>


                    </tbody>
                </table>
                <a href="/top_ring" class="shopBtn btn-large pull-right">Sản phẩm bán chạy <span class="icon-arrow-right"></span></a>
                <br/>




            </div>
        </div>

        <!--


    </div><-- /container -->

        <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
        <!-- Placed at the end of the document so the pages load faster -->
        <% include elements/script_end.ejs%>
    </div>
</body>
</html>
