<!DOCTYPE html>
<html lang="en">
<head>
    <% include elements/tag_head.ejs%>
</head>
<body>
<!--
	Upper Header Section
-->
<% include elements/upper_header.ejs%>
<!--
Lower Header Section
-->
<div class="container">
    <% include elements/lower_header.ejs%>

    <!--
    Navigation Bar Section
    -->
    <% include elements/navbar.ejs%>
    <!--
    Body Section
    -->
    <div class="row">

        <div class="well well-small">
            <h1>Thông tin gian hàng</h1>
            <hr class="soften"/>

            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Tên gian hàng</th>
                    <th>Địa chỉ</th>
                    <th>Liên lạc</th>
                    <th>Sản phẩm</th>
                </tr>
                </thead>
                <tbody>
                <%shops.forEach(function(shop){%>
                    <tr>
                        <td><%= shop.name %></td>
                        <td><%= shop.address %></td>
                        <td><%= shop.phone %></td>
                        <td><a href="<%= shop.linkproducts %>">Xem sản phẩm</a></td>
                    </tr>
                <% }); %>
                </tbody>
            </table><br/>
        </div>
    </div>

</div>
</body>
</html>
