<div id="gototop"> </div>

<header id="header">
    <div class="row">
        <div class="span4">
            <h1>
                <a class="logo" href="/"><span>Twitter Bootstrap ecommerce template</span>
                    <img src="assets/img/logo-bootstrap-shoping-cart.png" alt="bootstrap sexy shop">
                </a>
            </h1>
        </div>


    </div>
</header>