  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="/">Trang chủ	</a></li>
            <li class=""><a href="/sales">Doanh số</a></li>
            <li class=""><a href="/shop">Gian hàng</a></li>
            <li class=""><a href="/account">Danh sách tài khoản</a></li>
            <li class=""><a href="/bill">Đơn hàng</a></li>

          </ul>


        </div>
      </div>
    </div>
  </div>
