  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="/">Trang chủ	</a></li>
            <li class=""><a href="/sales">Doanh số</a></li>
            <%if(userdata.author === 'admin'){%>
              <li class=""><a href="/shop">Gian hàng</a></li>
            <%}%>
            <li class=""><a href="/users/account">Danh sách tài khoản</a></li>
            <li class=""><a href="/bill">Đơn hàng</a></li>
            <%if(userdata.author === 'shop'){%>
              <li class=""><a href="/products/upload">Thêm sản phẩm</a></li>
            <%}%>
          </ul>
        </div>
      </div>
    </div>
  </div>
