<div id="sidebar" class="span3">
    <div class="well well-small">
        <ul class="nav nav-list">
            <li><a href="/users/account"><span class="icon-chevron-right"></span>Quản lý các tài khoản</a></li>
            <li><a href="/shop"><span class="icon-chevron-right"></span>Quản lý gian hàng</a></li>
            <li><a href="/sales"><span class="icon-chevron-right"></span>Doanh số</a></li>
            <li><a href="/bill"><span class="icon-chevron-right"></span>Đơn hàng</a></li>
            <li><a href="/"><span class="icon-chevron-right"></span>Người dùng</a></li>
            <li style="border:0"> &nbsp;</li>
        </ul>
    </div>




</div>
