<meta charset="utf-8">
<title>Admin page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Bootstrap styles -->
<link href=".././assets/css/bootstrap.css" rel="stylesheet"/>
<link href=".././assets/css/bootstrap.min.css" rel="stylesheet"/>
<!-- Customize styles -->
<link href=".././style.css" rel="stylesheet"/>
<!-- font awesome styles -->
<link href=".././assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--[if IE 7]>
<link href=".././css/font-awesome-ie7.min.css" rel="stylesheet">
<![endif]-->

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="shortcut icon" href=".././assets/ico/favicon.ico">
<script>
    function successLogin() {
        alert("Đăng nhập thành công!");
    }

    function successRegister() {
        alert("Đăng ký thành công!");
    }

    function successUpdateAccount() {
        alert("Cập nhật thành công!");
    }

    function successShip() {
        alert("Cập nhật thành công!");
    }

    function successSearch() {
        alert("Tìm thành công!");
    }
    function successNewPassword() {
        alert("Mật khẩu mới đã được gửi tới mail của bạn!");
    }

    function createElement(option) {
        const parent = document.getElementById("input-data");

        const elementInput = document.createElement("input");
        elementInput.setAttribute("id", option);
        elementInput.setAttribute("name", option);
        elementInput.setAttribute("type", "number");
        elementInput.setAttribute("required", "true");
        elementInput.style.width = "80px";
        elementInput.style.height = "30px";
        elementInput.style.marginRight = "10px";

        const elementLabel = document.createElement("label");
        elementLabel.setAttribute("id", "label-for-" + option);

        let textInner;
        switch (option) {
            case "day":
                textInner="Ngày ";
                break;
            case "week":
                textInner="Tuần ";
                break;
            case "month":
                textInner="Tháng ";
                break;
            case "quarter":
                textInner="Quý ";
                break;
            case "year":
                textInner="Năm ";
                break;
        }
        elementLabel.innerText = textInner;
        elementLabel.setAttribute("for", option);

        parent.appendChild(elementLabel);
        parent.appendChild(elementInput);
    }

    function f() {
        const selected = document.getElementById("choice").value;

        document.getElementById("input-data").remove();
        const elementDiv = document.createElement("div");
        elementDiv.setAttribute("id", "input-data");
        document.getElementById("div-input").appendChild(elementDiv);
        switch (selected) {
            case 'year':
                createElement('year');
                document.getElementById("label-for-sortby").hidden=false;
                document.getElementById("sortby").hidden=false;
                break;
            case 'quarter':
                createElement('quarter');
                createElement('year');
                document.getElementById("label-for-sortby").hidden=false;
                document.getElementById("sortby").hidden=false;
                break;
            case 'month':
                createElement('month');
                createElement('year');
                document.getElementById("label-for-sortby").hidden=false;
                document.getElementById("sortby").hidden=false;
                break;
            case 'week':
                createElement('week');
                createElement('month');
                createElement('year');
                document.getElementById("label-for-sortby").hidden=false;
                document.getElementById("sortby").hidden=false;
                break;
            case 'day':
                createElement('day');
                createElement('month');
                createElement('year');
                document.getElementById("label-for-sortby").hidden=false;
                document.getElementById("sortby").hidden=false;
                break;
            case 'top10':
                document.getElementById("label-for-sortby").hidden=true;
                document.getElementById("sortby").hidden=true;
                break;
            default:
                document.getElementById("label-for-sortby").hidden=false;
                document.getElementById("sortby").hidden=false;
                break;
        }
    }
</script>