<div class="navbar-inverse navbar-fixed-top">
    <div class="topNav">
        <div class="container">
            <div class="alignR">
                <div class="pull-left socialNw">
                    <a href="#"><span class="icon-twitter"></span></a>
                    <a href="#"><span class="icon-facebook"></span></a>
                    <a href="#"><span class="icon-youtube"></span></a>
                    <a href="#"><span class="icon-tumblr"></span></a>
                    <%if(userdata){%>
                    <b> Chào <%=userdata.username%></b>
                    <%}%>
                </div>
                <%if(userdata){%>
                <a class="active" href="/"> <span class="icon-home"></span> Trang chủ</a>
                <%if(userdata.author === 'admin'){%>
                    <a href="/users/register"><span class="icon-lock"></span> Đăng ký </a>
                <%}%>
                <a href="/users/my_account"><span class="icon-lock"></span> Tài khoản </a>

                <a href="/users/logout"><span class="icon-lock"></span> Đăng xuất </a>

                <%}%>
            </div>
        </div>
    </div>
</div>
