<div class="navbar navbar-inverse navbar-fixed-top"style="background-color: black">
    <div class="topNav" >
        <div class="container">
            <div class="alignR">

                <a href="/"> <span class="icon-home"></span> Trang chủ</a>

            </div>
        </div>
    </div>
</div>
